@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-2-lines {
    max-height: 2.8em;
    line-height: 1.4em;
    overflow: hidden;
}
.truncate-1-lines {
    max-height: 1.4em;
    line-height: 1.4em;
    overflow: hidden;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}